*.aux
*.auxlock
*.bak
*.bbl
*.bcf
*.blg
*.dep
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.lox
*.out
*.run.xml
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.txss

/phd_thesis_Syromyatnikov.pdf
/autoreferat.pdf
/autoreferat_Syromyatnikov.pdf

/tikzfigures/*
/tikzfigures-ar/*

/litreview/articles/*.pdf

/fig/norming_distr
/fig/spt/src

/git-version.tex
/git-version-commit.tex
/git-describe.tex
*.bib.sav
*-blx.bib
/publications.tex

.ipynb_checkpoints
*.html
*.cmd

*.7z
/files_by_others
/Клавсюк2008.pdf
/a6Ky2N9_700bwp.png
/an58G4L_700bwp.png

/proofs

/fig/talk
pre-talk.pdf
/pre-talk.tex
/phd_thesis_Syromyatnikov.docx
/phd_thesis_Syromyatnikov.zip
/laptin.pdf
/laptin.png


